.links
  = link_to 'Geschenkliste', regalos_path
  \|
  = link_to 'Anmelden', new_candidato_path
.text
  %h3 20.4.2013
  %p 11:30 Uhr
  %h4 Giardino Verde
  %p In der Rüti 2
  %p 8142 Uitikon Waldegg
