.links
  = link_to 'Geschenkliste', regalos_path
  \|
  = link_to 'Anmelden', new_candidato_path
.text
  %h3 20.4.2013
  %p 11:30 Uhr
  = link_to 'http://www.giardino-verde.ch/' do
    %h4 
      Giardino Verde
      %span (link)
  %p In der Rüti 2
  %p 8142 Uitikon Waldegg
  %br
  %p Das Giardino Verde ist von Zürich via Triemli, von Bern/Basel/St. Gallen via A1/A3, Ausfahrt Urdorf-Süd oder von Zug/Luzern via A4/A3, Ausfahrt Uitikon zu erreichen.
  %br
  %p Achtung, es muss mit Stau gerechnet werden!
